*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:sans-serif;

background:#f7f7f7;

}

nav{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 70px;

background:white;

box-shadow:
0 2px 20px
rgba(0,0,0,.05);

}

nav h2{

color:#1b4332;

}

nav input{

width:350px;

padding:14px;

border-radius:30px;

border:none;

background:#f2f2f2;

}

nav a{

margin-left:20px;

color:#333;

text-decoration:none;

font-weight:bold;

}


.hero{

height:220px;

margin:30px;

padding:50px;

border-radius:25px;

background:

linear-gradient(
90deg,
#d7ebff,
#ffe08b
);

display:flex;

flex-direction:column;

justify-content:center;

}

.hero h1{

font-size:48px;

color:#12344d;

margin-bottom:10px;

}

.hero p{

font-size:22px;

}

.hero button{

width:180px;

padding:15px;

margin-top:25px;

border:none;

background:#1b4332;

color:white;

border-radius:10px;

cursor:pointer;

}


.title{

margin-left:60px;

font-size:38px;

}

.products{

display:grid;

grid-template-columns:
repeat(
4,
1fr
);

gap:30px;

padding:50px;

}

.card{

background:white;

padding:20px;

border-radius:20px;

box-shadow:

0 10px 30px

rgba(0,0,0,.08);

}

.card:hover{

transform:
translateY(-10px);

}

.card img{

width:100%;

height:230px;

object-fit:cover;

border-radius:15px;

}

.card h2{

margin-top:15px;

}

.card a{

text-decoration:none;

color:black;

}

.card h3{

color:#0f9d58;

margin-top:10px;

}

.offer{

color:red;

font-weight:bold;

}

button{

padding:12px;

width:100%;

background:#1b4332;

color:white;

border:none;

border-radius:8px;

margin-top:10px;

}
#search{

transition:.3s;

}

#search:focus{

outline:none;

box-shadow:

0 0 20px

rgba(
27,
67,
50,
.2
);

transform:

scale(
1.02
);

}

.card{

transition:.4s;

}

.card:hover{

transform:

translateY(-8px);

box-shadow:

0 20px 40px

rgba(
0,
0,
0,
.15
);

}

.card button{

width:120px;

}
footer{

background:#163832;

color:white;

padding:50px;

margin-top:50px;

text-align:center;

}

footer a{

color:#ffe08b;

text-decoration:none;

margin:10px;

}

footer a:hover{

color:white;

}

.navRight{

display:flex;

align-items:center;

gap:20px;

}

#userInfo a{

background:#163832;

padding:10px 20px;

border-radius:10px;

color:white;

text-decoration:none;

}
