body{

margin:0;

font-family:sans-serif;

background:#f8f2ee;

}

nav{

display:flex;

justify-content:space-between;

padding:20px 60px;

background:white;

}

nav a{

margin-left:20px;

text-decoration:none;

color:black;

}

.container{

display:flex;

justify-content:center;

align-items:center;

height:85vh;

}

.left{

width:40%;

}

.left img{

width:100%;

}

.right{

width:350px;

background:white;

padding:40px;

border-radius:15px;

box-shadow:
0 0 20px
rgba(0,0,0,.1);

}

.right input{

width:100%;

padding:14px;

margin-top:15px;

border:1px solid #ddd;

border-radius:8px;

}

.right button{

width:100%;

padding:15px;

margin-top:20px;

background:#ff5a1f;

color:white;

border:none;

border-radius:10px;

cursor:pointer;

}

.right button:hover{

background:#e14c17;

}

.right a{

color:#ff5a1f;

}
